/* You can add global styles to this file, and also import other style files */
@import  "~bootstrap/dist/css/bootstrap.css";
@import  "~font-awesome/css/font-awesome.css"; 


body { padding-top: 80px};

body * {font-family:'tahoma'!important;}
body i {font-family:'FontAwesome'!important;}

$primary-color : green;

.list-group-item.active{
    background-color: $primary-color;
    border-color: $primary-color;
}
.navbar-light .navbar-brand{
    color:$primary-color;
}